.justify-center {
  justify-content: center;
  justify-items: center;
}
.align-center {
  align-items: center;
  align-content: center;
}

.btn {
  border-radius: 2px;
  outline: none;
}

.btn.btn-light {
  background-color: $white;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: $primary-light;
  border-color: $primary-light;
  color: var(--white);
}
section {
  padding-bottom: 60px;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 30px 0px;
}
