.justify-center {
  justify-content: center;
  justify-items: center;
}
.align-center {
  align-items: center;
  align-content: center;
}

.btn {
  border-radius: 2px;
  outline: none;
}

.btn.btn-light {
  background-color: $white;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: $primary-light;
  border-color: $primary-light;
  color: var(--white);
}
section {
  padding: 60px 0;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

a {
  color: var(--black);
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
